body{
    background-color: white;
    display: flex;
    justify-content: center;
}
div{
    flex-direction: row;
}
.search-form{
    flex-direction: column;
}
button{
    background-color: #f4f4f4;
    border: none;
    text-align: center;
}